.titel {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}
.subheading {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 25px;
  width: 200px;
}

.titel_block_benefits {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 12px;
}
.benefits_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 25px;
}

.signup_btn_tracker {
  border-radius: 10px;
  padding: 8px 30px;
  width: 280px;
  height: 36px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: #407bff;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.signup_btn_tracker:hover {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}

.signup_btn_tracker:active {
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .titel {
    font-size: 36px;
  }

  .subheading {
    font-size: 26px;
    width: 410px;
  }

  .benefits_list {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
  }

  .signup_btn_tracker {
    padding: 10px 30px;
    width: 336px;
    height: 44px;
    border-radius: 10px;
  }

  .benefits_card {
    padding: 32px 24px;
    width: 500px;
    height: 332px;
  }
}

@media screen and (min-width: 1440px) {
  .titel {
    font-size: 36px;
  }

  .subheading {
    font-size: 26px;
    width: 410px;
  }

  .benefits_list {
    flex-direction: column;
  }

  .signup_btn_tracker {
    width: 384px;
  }
}
