.modal {
  position: absolute;
  top: 40px;
  right: 0;
  width: 150px;
  background: var(--prim-color-white);
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
  z-index: 10;
  width: 118px;
  height: 88px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--prim-color-blue);
  background: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: background 0.2s ease;
}

.btn:hover {
  color: var(--second-warning-color);
  cursor: var(--cursor-url), pointer;
}

.icon {
  width: 16px;
  height: 16px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--prim-color-blue);
}
