.calendarWrapper {
   margin: 0 auto;
    width: 544px;
    background-color: #ECF2FF;
}
.calendarHeader {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.23;
}
.headerItem {
  display: flex;
  align-items: center;
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 14px;
  height: 14px;
  padding: 0;
  &:last-of-type {
    transform: scaleX(-1);
  }
}
.dateTitle {
  display: flex;
  align-items: center;
  color: #407bff;
  padding: 0 12px;
}
.icon {
  fill: #407bff;
  width: 14px;
  height: 14px;
}
