.benefits_card {
  padding: 24px 16px;
  width: 280px;
  height: 416px;

  border-radius: 10px;
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
  background: #d7e3ff;
}

.titel_benefits_card {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 12px;
}

.benefits_card_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .benefits_card {
    padding: 32px 24px;
    width: 500px;
    height: 332px;
  }
}

@media screen and (min-width: 1440px) {
  .benefits_card {
    margin-top: 35px;
  }
}
