/* .iconUser {
  display: inline-block;
  stroke-width: 0;
  fill: transparent;
  stroke-width: 1px;
  stroke: #2f2f2f;
  width: 28px;
  height: 28px;
  margin-right: 4px;
} */
.container {
  position: relative;
}

.svgBtn {
  display: flex;
  margin-left: 4px;
  background-color: transparent;
  border: none;
  cursor: var(--cursor-url), pointer;
  padding: 0;
  align-items: center;
}

.user {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  cursor: var(--cursor-url), pointer;
}

.userName {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #2f2f2f;
}

.avatar {
  max-width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  background-color: transparent;
}

.initials {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background-color: var(--second-blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--prim-color-white);
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  stroke-width: 0;
  stroke-width: 1px;
  fill: var(--prim-color-blue);
  margin-left: 4px;
}
.icon:hover {
  fill: var(--second-warning-color);
  stroke: var(--second-warning-color);
}

.icon:focus {
  fill: var(--second-warning-color);
  stroke: var(--second-warning-color);
}
