.iconUser {
    display: inline-block;
    stroke-width: 0;
    fill: transparent;
    stroke-width: 1px;
    stroke: #2f2f2f;
    width: 28px;
    height: 28px;
    margin-right: 4px;
}

.userName {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
    color: #2f2f2f;
}

.placeholder {
    display: flex;
    gap: 8px;
    align-items: center;
}

.avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #407bff;
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}