.singIn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33333;
    color:var(--prim-color-blue);
    display: flex;
    align-items: center;
    gap: 4px;
   cursor:var(--cursor-url), pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.iconUser {
    display: inline-block;
    stroke-width: 0;
    fill: transparent;
    stroke-width: 1px;
    stroke: #2f2f2f;
    width: 28px;
    height: 28px;
    margin-right: 4px;
}

.singIn:hover {
    color:var(--second-warning-color);
}

.singIn:focus {
    color:var(--second-warning-color);
}