.singIn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33333;
    color: #407bff;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    text-decoration: none;
}

.iconUser {
    display: inline-block;
    stroke-width: 0;
    fill: transparent;
    stroke-width: 1px;
    stroke: #2f2f2f;
    width: 28px;
    height: 28px;
    margin-right: 4px;
}

.singIn:hover {
    color: #ff9d43;
}

.singIn:focus {
    color: #ff9d43;
}