.waterElement{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    margin-top: 12px;
    border-bottom: #D7E3FF solid 1px;
    height: 38px;
}

.svgAndTextWaterElement{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.SmallTextBox{
    width: 128px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}

.waterElementMl{
    color: #407BFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;  
    width: 60px;
}

.waterElementTime{
    color: #2F2F2F;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    width: 56px;
}

.TwoBtnsToWater{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    margin-right: 10px;
}

.glassSvg{
    width: 26px;
    height: 26px;
}

.redactOpenBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.redactSvg{
    width: 16px;
    height: 16px;
    stroke: #D7E3FF;
    transition: stroke 0.2s ease-in-out;
}

.redactOpenBtn:hover .redactSvg{
    stroke: #9EBBFF;
}

.deleteOpenBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .waterElement{
        height: 48px;
    }
    .SmallTextBox{
        gap: 16px;
        width: 186px;
    }
    .glassSvg{
        width: 36px;
        height: 36px;
    }
    .waterElementTime{
        width: 82px;
    }
}