.waterElement{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    margin-top: 12px;
    border-bottom: var(--second-background-trecer-color) solid 1px;
    height: 38px;
}

.svgAndTextWaterElement{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.SmallTextBox{
    width: 128px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}

.waterElementMl{
    color: var(--prim-color-blue);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;  
    width: 60px;
}

.waterElementTime{
    color: var(--prim-color-black);
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    width: 56px;
}

.TwoBtnsToWater{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    margin-right: 10px;
}

.glassSvg{
    width: 26px;
    height: 26px;
}

.redactOpenBtn{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
   cursor: pointer;
    padding: 0;
    height: 19px;
    transition: border-bottom 0.2s ease-in-out;
}

.redactOpenBtn:hover{
    border-bottom: var(--second-blue-color) 1px solid;
}

.redactSvg{
    width: 16px;
    height: 16px;
    stroke: var(--second-blue-color);
    transition: stroke 0.2s ease-in-out;
}

.deleteOpenBtn{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
   cursor: pointer;
    padding: 0;
    height: 19px;
    transition: border-bottom 0.2s ease-in-out;
}

.deleteOpenBtn:hover{
    border-bottom: #EF5050 1px solid;
}

@media screen and (min-width: 768px) {
    .waterElement{
        height: 48px;
    }
    .SmallTextBox{
        gap: 16px;
        width: 186px;
    }
    .glassSvg{
        width: 36px;
        height: 36px;
    }
    .waterElementTime{
        width: 82px;
    }
}
