
   
.signupPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: relative;  */
  width: 320px;
  margin: 20px auto;
  padding: 0 20px;
  
}

.formSection {
  margin-top: 20px;
  margin-bottom: 74px;
  text-align: center;
  z-index: 2; 
}

.background {
  position: absolute;
  width: 280px;
  height: 210px;
  background-image: url('/images/mobilebottle.svg') ;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  left: 20px;
  top: 485px;
  pointer-events: none;
}



 /* ================= TABLET VERSION ================== */ 
 @media screen and (min-width: 768px) {
  .signupPageContainer {
    width:768px;
    padding: 0 32px;
    display: flex;
  flex-direction: row;
  align-items: baseline;
  }

  .formSection {
    position: relative;
    flex: 1;
    width: 336px;
    z-index: 2;
  }

  .background {
    position: absolute;
    width: 736px;
    height: 548px;
    background-image: url('/images/tabletbottle.svg');
    background-position: right;
    left: 140px;
    top: 130px;
    z-index: 1;
  }
}

/* ================= DESKTOP VERSION ================== */
 @media screen and (min-width: 1440px) {
  .signupPageContainer {
    width:1440px;
        padding: 0 198px;
    margin-left:  18px;
    margin-right: 18px;
    display: flex;
    flex-direction: row;
     position: relative;
    align-items: center; 
  }

  

  .background {
    order: -1;
    width: 916px;
    height: 680px;
    background-image: url('/images/desctopbottle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    left: 1%;
    top: -16%;
  pointer-events: none;
    
  }

  .formSection {
    flex: auto;
    width: 384px;
    height: 303px;
    order: 0;
  }
}  