.todayWaterListBox{
    max-width: 264px;
    height: 258px;
    background-color: var(--second-background-color);
}

.waterListToday{
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    margin-bottom: 16px;
}

.waterListBox{
    display: flex;
    flex-direction: column;
    height: 178px;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.waterListBox::-webkit-scrollbar {
    width: 4px; 
    border-radius: 8px; 
}

.waterListBox::-webkit-scrollbar-track {
    background: var(--second-background-trecer-color); 
    border-radius: 8px;
}

.waterListBox::-webkit-scrollbar-thumb {
    background: var(--prim-color-blue); 
    border-radius: 8px;
}

.waterListBox::-webkit-scrollbar-thumb:hover {
    background: var(--second-background-trecer-color);
}

.AddWaterModalBtn{
    background-color: transparent;
    border: none;
    display: flex;
    gap: 8px;
    cursor: var(--cursor-url), pointer;
    margin-top: 12px;
    padding: 0;
}

.plusSvgPath {
    stroke: var(--prim-color-blue);
    transition: stroke 0.2s ease-in-out;
}

.plusSvg{
    width: 16px;
    height: 16px;
}

.AddWaterBtnText{
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--prim-color-blue);
    width: 73px;
    transition: color 0.2s ease-in-out;
}

.AddWaterModalBtn:hover .AddWaterBtnText {
    color:var(--second-warning-color);
}

.AddWaterModalBtn:hover .plusSvgPath {
    stroke: var(--second-warning-color);
}

@media screen and (min-width: 768px) {
    .todayWaterListBox{
        max-width: 656px;
        height: 260px;  
    }
    .waterListToday{
        font-weight: 500;
        font-size: 26px;
        line-height: 123%;
    }
    .waterListBox{
        display: flex;
        flex-direction: column;
        height: 176px;
    }
    
    .plusSvg{
        width: 24px;
        height: 24px;
    }
    .AddWaterBtnText{
        font-weight: 500;
        font-size: 18px;
        line-height: 133%;
        width: 82px;
    }
}

@media screen and (min-width: 1440px) {
    .todayWaterListBox{
        width: 544px;
        height: 260px;
    }
}
