.header {
    width: 100%;
    max-width: 280px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:var(--prim-color-white);
    margin: 0 auto;
    margin-top: 8px;
}

.waterTracker {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--prim-color-blue);
    display: flex;
    align-items: center;
    gap: 4px;
    max-width: 102px;
    font-weight: bold;
    text-decoration: none;
    height: 48px;
}

.logoText {
    width: 58px;
    height: 28px;
}

.logo {
    width: 40px;
    height: 100%;
}

.userProfile {
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: var(--cursor-url), pointer;
    width: 122px;
    height: 28px;
    position: relative;
}


@media screen and (min-width: 768px) {
    .header {
        max-width: 704px;
        margin-top: 16px;
    }
}


@media screen and (min-width: 1440px) {
    .header {

        max-width: 1216px;
        margin-top: 12px;
    }
}