.header {
    width: 280px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
}

.waterTracker {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #407bff;
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 102px;
    font-weight: bold;
    text-decoration: none;
}

.svgBg {
    background-color: red;
}

.singIn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #407bff;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    text-decoration: none;
}

.arrayBtn {
    width: 48px;
    height: 28px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    border-radius: 100%;
}