.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url('/public/images/bottleMob.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .background {
    background-image: url('/public/images/backTab.svg');
    background-size: cover;
    background-repeat: repeat;
    background-position: top center;
  }

  .wrapper {
    gap: 60px;
    margin-top: 40px;
  }

  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1440px;
      padding-left: 112px;
      padding-right: 112px;
    }

    .background {
      background-image: url('/public/images/bobbleDesk.svg'),
        url('/public/images/bottleDesk.svg');
      background-size: contain, contain;
      background-repeat: no-repeat, no-repeat;
      background-position: center, center bottom;
    }

    .wrapper {
      flex-direction: row;
      margin-top: 80px;
    }
  }
}
