@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
}

:root{
--prim-color-white: #FFFFFF;
--prim-color-black:#2F2F2F;
--prim-color-blue:#407BFF;
--second-background-color: #ECF2FF;
--second-del-error-color:#EF5050;
--second-warning-color:#FF9D43;
--second-background-trecer-color:#D7E3FF;
--second-blue-color:#9EBBFF;
--box-shadow-btn-activ: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
--box-shadow-btn: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
--box-shadow-modal: 0 2px 4px 0 rgba(64, 123, 255, 0.2);
--box-shadow-card: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
--cursor-url: url('/images/pointer.svg');
}


html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color:var(--prim-color-black);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
} 
