.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
  margin: 20px 0 40px;
  gap: 40px;
}
.rightSide {
  display: flex;
  flex-direction: column;
  padding: 24px 8px;
  width: 280px;
  background-color: var(--second-background-color);
  justify-content: center;
  gap: 24px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-card);
}
.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 492px;
  /*   background-color: burlywood; */
}
@media screen and (min-width: 600px) {
  .wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 32px;
    margin: 40px 0 44px;
  }
  .rightSide {
    padding: 32px 24px;
    width: 704px;
  }
  .leftSide {
    width: 704px;
    height: 404px;
  }
}
@media screen and (min-width: 1440px) {
  .wrapper {
    flex-wrap: nowrap;
    flex-direction: unset;
    align-items: normal;
    gap: 32px;
    height: 680px;
  }
  .leftSide {
    padding: 32px 0 16px;
  }
  .rightSide {
    padding: 32px 24px;
    width: 592px;
  }
  .leftSide {
    justify-content: space-between;
    width: 592px;
    height: 680px;
  }
}
