.hover {
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 4px 4px 0 rgba(64, 123, 255, 0.3);
  border-radius: 10px;
  padding: 24px 16px;
  width: 280px;
  height: 188px;
  color: #2f2f2f;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  opacity: 1;
}

.stats {
  display: flex;
  gap: 6px;
}

.statsData {
  color: #407bff;
}

@media screen and (min-width: 768px) {
  .hover {
    width: 292px;
  }
}
