li {
  list-style-type: none;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url('/images/bottleMob.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin-top: 24px;
}

.icon_bottle {
  width: 100%;
  height: 100%;
  z-index: -1; /* Щоб бути на фоні */
  position: absolute;
}

.titel {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}
.subheading {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 25px;
  width: 200px;
}

.titel_block_benefits {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 12px;
}

.icon_benefits {
  width: 32px;
  height: 32px;
}

.benefits_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 25px;
}

.benefits_list_item {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
}

.signup_btn_tracker {
  border-radius: 10px;
  padding: 8px 30px;
  width: 280px;
  height: 36px;
  border: none;
  box-shadow: var(--box-shadow-btn);
  background: var(--prim-color-blue);
  color: var(--prim-color-white);
 cursor: pointer;
  transition: 0.3s;
}

.signup_btn_tracker:hover {
  box-shadow: var(--box-shadow-btn-activ);
}

.signup_btn_tracker:active {
  box-shadow: none;
}

/* benefits_card */

.benefits_card {
  padding: 24px 16px;
  width: 280px;
  height: 416px;

  border-radius: 10px;
  box-shadow: var(--box-shadow-card);
  background: var(--second-background-trecer-color);
}

.titel_benefits_card {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 12px;
}

.benefits_card_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.benefits_card_item {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .background {
    background-image: url('/images/bottleTab.svg');
  }

  .wrapper {
    gap: 60px;
    margin-top: 40px;
  }

  .titel {
    font-size: 36px;
  }

  .subheading {
    font-size: 26px;
    width: 410px;
  }

  .benefits_list {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
  }

  .icon_benefits {
    width: 40px;
    height: 40px;
  }

  .benefits_list_item {
    gap: 13px;
    width: 225px;
  }

  .signup_btn_tracker {
    padding: 10px 30px;
    width: 336px;
    height: 44px;
    border-radius: 10px;
  }

  .benefits_card {
    padding: 32px 24px;
    width: 500px;
    height: 332px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 112px;
    padding-right: 112px;
  }

  .background {
    background-image: url('/images/bobbleDesk.svg'),
      url('/images/bottleDesk.svg');
    background-size: contain, contain; /* Масштабування без спотворень */
    background-repeat: no-repeat, no-repeat; /* Без повторення */
    background-position: center, center bottom; /* Вирівнюємо по центру і вниз */
  }

  .wrapper {
    flex-direction: row;
    gap: 60px;
    margin-top: 80px;
  }

  .titel {
    font-size: 36px;
  }

  .subheading {
    font-size: 26px;
    width: 410px;
  }

  .benefits_list {
    flex-direction: column;
  }

  .benefits_list_item {
    gap: 13px;
    width: 225px;
  }

  .signup_btn_tracker {
    width: 384px;
  }

  .benefits_card {
    margin-top: 35px;
  }
}
